body {
    background: #ECEFF1;
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 0 0.8rem;
  margin: 0;
  background-color: #ddd;
  overflow: auto;
}

nav h1 {
  margin: 0.8rem;
  font-size: 1.2rem;
}
nav h2 {
  margin: 0.8rem 0;
  padding-top: 3px;
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: darkred;
}
.hidden {
  display: none;
}

#message {
    background: white;
    max-width: 360px;
    margin: 100px auto 16px;
    padding: 32px 24px;
    border-radius: 3px;
}

#message h2 {
    color: #ffa100;
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 8px;
}

#message h1 {
    font-size: 22px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
    margin: 0 0 16px;
}

#message p {
    line-height: 140%;
    margin: 16px 0 24px;
    font-size: 14px;
}

#message a {
    display: block;
    text-align: center;
    background: #039be5;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 16px;
    border-radius: 4px;
}

#message, #message a {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#load {
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 13px;
}

container {
  padding: 0.5rem;
  display: block;
}

button {
    margin: 0.2em 0.1em;
}

div#videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div#videos > video {
    background: black;
    width: 640px;
    height: 100%;
    display: block;
    margin: 1em;
}

.module {
  border: 1px solid grey;
  margin-top: 1rem;
  padding-bottom: 0.5rem;
}

.module label {
  padding: 0.5rem;
  background-color: #ccc;
  display: block;
  border-bottom: 1px solid black;
  margin-bottom: 0.5rem;
}

#rooms ul, #dailies ul, #mydailies ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#rooms ul li, #dailies ul li, #mydailies ul li {
  display: flex;
}

#rooms ul li > span, #dailies ul li > span, #mydailies ul li > span {
  border: 1px solid #ccc;
  padding: 0.5rem;
  margin: 0.5rem;
}

#rooms ul li > button, #dailies ul li > button, #mydailies ul li > button {
  margin: 0.5rem;
}

.details {
  flex-grow: 1;
  text-align: center;
  font-size: 0.8rem;
}

.date {
  flex-basis: 2rem;
  text-align: center;
  font-size: 0.8rem;
}

#chatLog {
  padding: 1rem;
  border: 1px solid grey;
  width: 100%;
  height: 400px;
  margin-top: 1rem;
  display: inline-block;
  box-sizing: border-box;
  white-space: pre;
}

#chatEntry {
  display: block;
  font-size: 1rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  width: 100%;
  box-sizing: border-box;
}

.square { border: 2px solid rgba(0,0,0,0.1);
  box-sizing: border-box; position: relative; }
#board .influence { border: 2px solid black; }
#board .hovered { border: 2px solid chartreuse; }
.square:after { content: ""; display: block; padding-bottom: 100%;
  pointer-events: none; }
.square .piece { top: 50%; left: 50%;
  position: absolute; line-height: 100%; pointer-events: none;
  transform: translate(-50% , -50%); }
.darkener { background: rgba(0,0,0,0.08); position: absolute; top: 0;
  left: 0; bottom: 0; right: 0; pointer-events: none; }

svg { transform: scale(0.8); }

#board { width: 100%; display: flex; flex-wrap: wrap; margin-top: 1rem; }

.square.highlight {
  border: 2px solid green;
  cursor: pointer;
}
.square.selected {
  border: 2px solid blue;
}
.square.possibleMove, .square.possibleShoot {
  cursor: pointer;
}
.square.possibleMove .control {
  background-color: green;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.5rem;
  margin-left: -0.5rem;
}

.square.possibleShoot .control {
  background-color: red;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.5rem;
  margin-left: -0.5rem;
}

@media screen and (min-width: 768px) {
  #board { width: 50%; }
  #top { font-size: 1rem; margin-top: 1rem; }
  #fen { font-size: 1rem; }
  #load { font-size: 1rem; }
  #side { width: 40%; padding-left: 1rem; }
  #pgn { font-size: 1rem; }
  #loadPgn { font-size: 1rem; }
}

@media screen and (min-width: 1024px) {
  #board { width: 40%; }
  svg { transform: scale(1); }
}

#player1 {
  padding: 1rem;
  margin: 1rem;
  border: 1px solid black;
  background-color: white;
  display: inline-block;
  opacity: 0.08;
}

#player1.active, #player2.active { opacity: 1 }

#player2 {
  padding: 1rem;
  margin: 1rem;
  border: 1px solid black;
  background-color: black;
  color: white;
  display: inline-block;
  opacity: 0.08;
}

.lastMove, .lastShot {
  border: 2px solid yellow;
}

body button.mdc-button {
    background-color: #8b0000 !important;
}
